<div class="border-end bg-light p-3 d-flex flex-column" style="width: 250px; min-height: 100vh;">
    <h5 class="mb-3">Menú</h5>
    <ul class="nav flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pacientes']">Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/historias-clinicas']">Historias Clinicas</a>
      </li>
    </ul>
 </div>